/* CSS Document */

@font-face {
  font-family: "SpiritPhone";
  src: url("SpiritPhone.ttf") format('truetype');
}

#albumBackground {
	position:relative;
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
	object-fit: contain;
	width: 900px;
	height: 900px;
}

.album {
	display: flex;
	height: 100%;
	align-items: center;
    justify-content: space-between;
}

.input {
	position:absolute;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
	width: 20vw;
}

.input > * {
	height: auto;
}

body {
	background-color:black;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}