/* CSS Document */

@font-face {
  font-family: "Spirit Phone";
  src: url("SpiritPhone.ttf") format('truetype');
}

#albumBackground {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
	object-fit: contain;
}

.album {
	display: flex;
	height: 100%;
	align-items: center;
    justify-content: center;
}

/*
.topText {
	color: white;
	font-family: "Spirit Phone";
	position: absolute;
	font-size: 4em;
}

.bottomText {
	color: white;
	position: absolute;
	font-family: "Spirit Phone";
	font-size: 8em;
}
*/

body {
	background-color:black;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}